mixin header 
  .wideRow 
    header.container 
      .row 
        .col-2
          img(src="assets/img/logo1.png", alt="") 
        .col-3
          .topSlogan Подарите близким свое время
        .col-4
          .header__text
        .col-3
          .row 
            .col-12
              a.header__phone(href="+79179888833") 
                i.bi.bi-phone-vibrate
                span 8-917-988-88-33
            .col-12
              a.header__phone(href="+79179888833") 
                i.bi.bi-phone-vibrate
                span 8-917-988-88-33
            .col-12
              .button Заказать звонок